<div class="btn-container">
  <div class="plus"><i class="bi bi-layers"></i></div>
  <ul>
    <li class="btn-list">
      <a><i></i>Page</a>
    </li>
    <li class="btn-list">
      <a href="/contacts"><i></i>Contacts</a>
    </li>
    <form action="/chat" method="POST">
      <li class="btn-list">
        <a><i></i><button>logout</button></a>
      </li>
    </form>
  </ul>
</div>
