<div class="btn-container">
     <div class="plus" onclick="openMenu()"><i class="bi bi-layers"></i></div>
    <ul>
        <li class="btn-list"><a><i></i>New Chat</a></li>
        <li class="btn-list"><a><i></i>Page</a></li>
        <li class="btn-list"><a href="/contacts"><i></i>Contacts</a></li>
    </ul>
</div>
