<div class="btn-container">
  <div class="plus"><i class="bi bi-layers"></i></div>
  <ul>
    <li class="btn-list">
      <a href="/contacts"><i></i>New chat</a>
    </li>
    <li class="btn-list">
      <a href="/contacts"><i></i>Contacts</a>
    </li>
    <li class="btn-list">
      <a><i></i>list</a>
    </li>
  </ul>
</div>
