<div class="btn-container">
  <div class="plus"><i class="bi bi-layers"></i></div>
    <div class="btn-list shdw">
      <a href="/contacts"><i class="bi bi-layers"></i></a>
    </div>
    <div class="btn-list shdw">
      <a href="/contacts"><i class="bi bi-layers"></i></a>
    </div>
    <div class="btn-list shdw">
      <a href="/contacts"><i class="bi bi-chat"></i></a>
    </div>
</div>
