<div class="chat-profile">
    <img src="<%= data.img %>" alt="not found"></img>
<p>
    <%= data.username %>
</p>
<i class="bi bi-check"></i>
<!--<i class="bi bi-check-all"></i>  -->
<p>
    <%= data.message %>
</p>
<p>
    <%= data.timeSend %>
</p>
<i class="bi bi-volume-mute"></i>
<p>
    15
</p>

</div>