<head>
  <!-- Bootstrap 5 -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="rgb(1,43,65)" />
  <meta name="refresh">

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />

  <!-- css reset -->
  <link href="/css/reset.css" rel="stylesheet" />

  <!-- icons bootstrap -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
  />

  <!-- Font Awesome Icon -->
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

  <!-- My css -->
  <link href="/css/main.css" rel="stylesheet" />
  <link href="/css/<%= style %>.css" rel="stylesheet" />

  <!-- Bootstrap Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
    defer
  ></script>

  <!-- my script -->
  <script src="/js/main.js" defer></script>
  <script src="/js/<%= script %>.js" defer></script>

  <title><%= title %></title>
</head>
