<div class="grid-container">
    <div class="grid-item-navbar">
        <h1>DanApp</h1>
        <a href="#"><i class="bi bi-search"></i></a>
        <a href="/signup"><i class="bi bi-list"></i></a>
    </div>
    <div class="grid-item-chats">
        <a href="/chat">CHATS</a>
    </div>
    <div class="grid-item-status">
        <a href="#">STATUS</a>
    </div>
</div>