<div class="chat-room-container">
  <div class="chat-room-body">
    <div class="msg msg-left">
      left : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
      nulla veniam molestias eum eveniet aliquam labore totam suscipit fugit
      quo?
    </div>
    <div class="msg msg-right">
      right : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
      tenetur doloremque obcaecati accusamus molestiae blanditiis recusandae
      labore cum totam esse maxime dolorem saepe eos eius beatae sint, deserunt
      quaerat magnam nam error debitis amet! Totam cum doloribus voluptas
      numquam praesentium eius corrupti. Dicta aut ducimus in harum ad similique
      culpa reiciendis. Deleniti aliquam consequatur eos quam voluptatem
      necessitatibus cupiditate, corrupti eaque libero at, accusamus facere
      veritatis odit asperiores fugiat, dignissimos. Aliquid eum quod aspernatur
      pariatur labore veritatis quo neque laudantium animi dolorem accusantium
      dignissimos fugit dolor saepe vel, reprehenderit et id. Excepturi atque
      nulla laboriosam nostrum eveniet! Eos, sunt, modi.
    </div>
    <div class="msg msg-left">
      right : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
      tenetur doloremque obcaecati accusamus molestiae blanditiis recusandae
      labore cum totam esse maxime dolorem saepe eos eius beatae sint, deserunt
      quaerat magnam nam error debitis amet! Totam cum doloribus voluptas
      numquam praesentium eius corrupti. Dicta aut ducimus in harum ad similique
      culpa reiciendis. Deleniti aliquam consequatur eos quam voluptatem
      necessitatibus cupiditate, corrupti eaque libero at, accusamus facere
      veritatis odit asperiores fugiat, dignissimos. Aliquid eum quod aspernatur
      pariatur labore veritatis quo neque laudantium animi dolorem accusantium
      dignissimos fugit dolor saepe vel, reprehenderit et id. Excepturi atque
      nulla laboriosam nostrum eveniet! Eos, sunt, modi.
    </div>
  </div>
  <div class="input-msg-container">
    <div class="input-msg">
      <a href="#"><i class="bi bi-camera"></i></a>
      <input type="text" placeholder="Message..." autofocus="true" />
      <div class="icon-group">
        <a href="#"><i class="bi bi-mic"></i></a>
        <a href="#"><i class="bi bi-images"></i></a>
        <a href="#"><i class="bi bi-emoji-smile"></i></a>
      </div>
    </div>
  </div>
</div>
