<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('layouts/cdn') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chat.css" type="text/css" media="all" />
    <script src="/js/chat.js" type="text/javascript" charset="utf-8" defer></script>
    <title>DanApp | Dashboard</title>
    <%- include('layouts/bootstrap_svg')%>
</head>
<body>
    <!-- start -->
    <nav class="navbar sticky-top navbar-dark bg-danger">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 fs-1">DanApp</span>
            <button id="button-nav-toggler" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- end -->
    <!-- start -->
    <nav class="navbar sticky-top navbar-dark bg-danger shadow-sm">
        <div class="container d-flex justify-content-around">
            <span class="navbar-brand my-2 fs-6 h1">CHATS</span>
            <span class="navbar-brand my-2 fs-6 h1">STATUS</span>
        </div>
    </nav>
    <!-- end -->

    <!-- floating menu -->
    <div id="floating-nav-menu" class="d-none shadow d-flex flex-column flex-shrink-0 p-3 text-white bg-danger position-fixed top-0 end-0" style="width: 260px;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/profile/<%= currentUser %>" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                    Profile
                </a>
            </li>
            <li>
                <a href="/contacts" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                    Contacts
                </a>
            </li>
            <li>
                <a href="/page" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table" /></svg>
                    Pages
                </a>
            </li>
            <li>
                <a href="/profile/api" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                    Api
                </a>
            </li>
            <li>
                <a href="/chat/logout" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                    Logout
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <!-- floating menu end -->

    <!-- card body -->
    <%- include('layouts/card', {
        data, msg
    }) %>
    <!-- card body end -->

    <!-- Button start -->
    <div class="container">
        <div class="row">
            <div></div>
        </div>
    </div>
    <!-- Button end -->
</body>
</html>