<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') %>
<body>
   <main>
     <header>
    <nav>
        <a href="/chat"><i class="bi bi-arrow-left"></i></a>
        <a><img id="nav-img" src="/<%= data.img %>"></img></a>
        <h1><%= data.name %></h1>
        <a><i class="bi bi-search"></i></a>
        <a><i class="bi bi-three-dots-vertical"></i></a>
    </nav>
</header>
<div class="chat-room-container">
  <div class="chat-room-body">
    <div class="information">
      <p></p>
    </div>
  </div>
  <div class="input-msg-container">
    <div class="input-msg">
      <a href="#"><i class="bi bi-camera"></i></a>
      <form id="form">
        <input
          id="inp"
          type="text"
          placeholder="Message..."
          autofocus="true"
          autocomplete="off"
        />
      </form>
      <div class="icon-group">
        <a href="#"><i class="bi bi-mic"></i></a>
        <a href="#"><i class="bi bi-images"></i></a>
        <a href="#"><i class="bi bi-emoji-smile"></i></a>
      </div>
    </div>
  </div>
</div>
   </main>
   <script src="/socket.io/socket.io.js"></script>
   </body>
</html>