<div class="contact-profile">
    <a href="/profile">
        <img src="<%= data.img %>" alt="not found"></img>
    </a>
<p>
    <%= data.name %>
</p>
<i class="bi bi-dot"></i>
<p>
    <%= data.status %>
</p>
<p>
    <%= data.timeSend %>
</p>
<i class="bi bi-chat"></i>
<i class="bi bi-pencil-square"></i>
</div>