<div class="log-container">
    <h1>Login</h1>
    <form action="" >
        <label for="email">Email</label>
        <input type="email"  name="email" placeholder="email..." id="email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password..." id="password">
        <button type="submit">login</button>
    </form>
</div>