<div class="profile-container">
    <div class="header">
        <i class="bi bi-arrow-left"></i>
        <h1>Profile</h1>
    </div>
    <img src="images/Dani.jpg"></img>
    <div class="box">
        <i class="bi bi-person-circle"></i>
        <p class="desc"></p>
        <i class="bi bi-pencil-square"></i>
    </div>
    <div class="box">
        <i class="bi bi-at"></i>
        <p class="desc"></p>
        <i class="bi bi-pencil-square"></i>
    </div>
    <div class="box">
        <i class="bi bi-stickies"></i>
        <p class="desc"></p>
        <i class="bi bi-pencil-square"></i>
    </div>
</div>