<div class="flex-container">
    <h1>Create Account</h1>
    <form action="/profile" method="post">
        <input type="text" class="inp" placeholder="Username" id="username" name="username" required />
        <input type="text" class="inp" placeholder="Name" id="name" name="name" />
        <input type="email" class="inp" placeholder="Email" id="email" name="email" required />
        <input type="password" class="inp" placeholder="Password" id="password" name="password" required />
        <input type="password" class="inp" placeholder="Repeat Your Password" id="password_check" name="password_check" required="" />
        <button type="submit" class="btn">Submit</button>
    </form>
    <div class="footer">
        Have Already an Account? <a href="/login">Login here</a>
    </div>
</div>