<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('layouts/cdn') %>
    <link rel="stylesheet" href="/css/signup.css" type="text/css" media="all" />
    <script src="/js/signup.js" type="text/javascript" charset="utf-8" defer></script>
    <title>Profile</title>
</head>
<body>
    <div class="flex-container">
        <h1>Create Account</h1>
        <form action="/signup" method="post">
            <input
            id="username"
            name="username"
            type="text"
            placeholder="Username"
            minlength="3"
            maxlength="10"
            required
            autofocus
            autocomplete="off" />

            <input
            id="name"
            name="name"
            type="text"
            placeholder="Name"
            minlength="3"
            maxlength="15"
            required
            autofocus
            autocomplete="off" />

            <input
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            required
            autofocus
            autocomplete="off" />

            <input
            id="password"
            name="password"
            type="password"
            placeholder="Password"
            minlength="6"
            maxlength="20"
            required
            autofocus />

            <input
            id="password_check"
            name="password_check"
            type="password"
            placeholder="Repeat Your Password"
            required
            autofocus />

            <button type="submit">Submit</button>
        </form>
        <div class="footer">
            Already have an Account? <a href="/login">Login here</a>
        </div>
    </div>
</body>
</html>