<div class="flex-container">
  <h1>Create Account</h1>
  <form action="" method="POST">
    <div class="name">
      <input type="text" class="inp" placeholder="First Name" id="" name="" />
      <input type="text" class="inp" placeholder="Last Name" id="" name="" />
    </div>
    <input type="text" class="inp" placeholder="Email" id="" name="" />
    <input type="text" class="inp" placeholder="Password" id="" name="" />
    <input type="text" class="inp" placeholder="Repeat Your Password" id="" name="" />
    <button class="btn">Submit</button>
  </form>
  <div class="footer">
    Have Already an Account? <a href="/login">Login here</a>
  </div>
</div>
