/* chat profile */

.chat-profile {
    display: grid;
    /*
    grid-template-columns: 1.5fr .5fr 5fr auto auto;
    */
    grid-template-columns: 4rem 2rem auto 2rem 2.5rem;
    grid-template-areas:
    "img name name tops tops"
    "img ceklis msg mute count";
    padding: .5rem;
    border-bottom: 1px solid rgb(143,176,226);
    place-items: center;

}
.chat-profile img {
    grid-area: img;
    width: 3.3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.chat-profile p:nth-child(2) {
    grid-area: name;
    place-self: start;
    padding-left: .3rem;
}
.chat-profile i:nth-child(3) {
    grid-area: ceklis;
    font-size: 1.4rem;
    color: rgba(0,0,0,.5)
}
.chat-profile p:nth-child(4) {
    justify-self: start;
    font-size: .9rem;
    grid-area: msg;
    color: rgba(0,0,0,.5)

}
.chat-profile p:nth-child(5) {
    grid-area: tops;
    font-size: .8rem;
}
.chat-profile i:nth-child(6) {
    grid-area: mute;
    font-size: 1.5rem;
    color: rgba(0,0,0,.5)
}
.chat-profile p:nth-child(7) {
    grid-area: count;
    font-size: .75rem;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #00c531;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

/* chat profile end */