@import url('./main.css');

.contacts-container {
    display: grid;
    background-color: var(--primary);
    align-items: center;
    position: sticky;
    top: 0;
}
.contacts-item-navbar h1 {
    color: var(--soft);
    place-self: start;
}
.contacts-item-navbar {
    display: grid;
    grid-template-columns: 2rem auto 2rem 2rem;
    place-items: center;
    padding: 0.7rem;
    font-size: 1.3rem;
}


/* header end*/

/* contact profile */

.contact-profile {
    display: grid;
    grid-template-columns: 4rem 2rem auto 2rem 2.5rem;
    grid-template-areas:
    'img name name tops tops'
    'img ceklis msg mute count';
    padding: 0.5rem;
    border-bottom: 1px solid var(--soft);
    place-items: center;
}
.contact-profile a {
    grid-area: img;

}
.contact-profile a img {
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.contact-profile p:nth-child(2) {
    grid-area: name;
    font-size: 1.05rem;
    place-self: start;
    padding-left: 0.4rem;
    color: rgba(0, 0, 0, 0.8);
}
.contact-profile i:nth-child(3) {
    grid-area: ceklis;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}
.contact-profile p:nth-child(4) {
    justify-self: start;
    font-size: 0.9rem;
    grid-area: msg;
    color: rgba(0, 0, 0, 0.5);
}
.contact-profile p:nth-child(5) {
    grid-area: tops;
    font-size: 0.8rem;
}
.contact-profile a:nth-child(6) {
    grid-area: mute;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.contact-profile i:nth-child(7) {
    color: rgba(0, 0, 0, 0.6);
    grid-area: count;
    font-size: 1rem;
    display: grid;
    place-items: center;
}

/* Responsive */

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}