@import url('./main.css');

button {
    width: 7rem;
    height: max-content !important;
    padding: 0.2rem;
    border-radius: 0.3rem;
    place-self: center;
    border: none;
    box-sizing: border-box;
}