:root {
    --dark: rgb(1, 43, 65);
    --primary: rgb(2, 84, 140);
    --secondary: rgb(63, 119, 188);
    --soft: rgb(143, 176, 226);
    --light: rgb(204, 212, 233);
}


body {
    background-color: var(--light);
}

main {
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    /*  border: .3px solid var(--primary); */
    position: relative;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    color: var(--soft);
    outline: none;
    text-decoration: none;
}

/* button */
.btn-container {
    background-color: var(--primary);
    position: fixed;
    bottom: 1.3rem;
    right: 1.3rem;
    padding: .8rem;
    height: 12rem;
    width: 12rem;
    /* remove everything around the circle */
    clip-path: circle(1.8rem at 9.2rem 9.2rem);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    border-radius: 0 2.5rem 2.5rem 2.5rem;
}
.btn-container.open {
    clip-path: circle(15rem at 10rem 10rem);
}

.plus {
    background-color: var(--primary);
    font-size: 2rem;
    width: 3.6rem;
    height: 3.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--soft);
}
.btn-container ul {
    list-style-type: none;
}

.btn-list {
    margin-bottom: 2rem;
    color: var(--soft);
}
/* button end*/

/* header */
.grid-container {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-areas:
    'navbar navbar'
    'chats status';
    background-color: var(--primary);
    align-items: center;
    z-index: 99999;
}
.grid-item-navbar h1 {
    color: var(--soft);
    place-self: start;
}
.grid-item-navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: auto 2.5rem 2.5rem;
    place-items: center;
    padding: 0.7rem;
    font-size: 25px;
}
.grid-item-chats {
    grid-area: chats;
    text-align: center;
    padding: 1rem;
}
.grid-item-status {
    grid-area: status;
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0;
}

/* header end*/

/* Responsive */

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}