:root {
    --dark: rgb(1, 43, 65);
    --primary: rgb(2, 84, 140);
    --secondary: rgb(63, 119, 188);
    --soft: rgb(143, 176, 226);
    --light: rgb(204, 212, 233);
}
/*
:root {
    --dark: #8fff00;
    --primary: #22222b;
    --secondary: #2b2b31;
    --soft: #ff922f;
    --light: #f8f8fa;
}
*/
body {
    scroll-behavior: smooth;
    background-color: #f8f8fa;
}

a,
a:link,
a:visited,
a:focus,
a:active {
    color: var(--soft);
    outline: none;
    text-decoration: none;
}
a:hover {
    color:var(--light);
}
