@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

:root {
    --dark: rgb(1, 43, 65);
    --primary: rgb(2, 84, 140);
    --secondary: rgb(63, 119, 188);
    --soft: rgb(143, 176, 226);
    --light: rgb(204, 212, 233);
}
main {
    border: 1px solid var(--secondary);
    background: var(--secondary)url('../images/Mina-full.jpg') no-repeat fixed;
}

body {
    margin: 0 auto;
    background-size: 100%;
}

h1 {
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    padding: 1rem auto;

}
.flex-container {
    color: rgba(2, 84, 140);
    opacity: .8;
    padding: 1rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    margin: 1.5rem;
    width: max-width(440px);
    box-shadow: 2px 2px 2px var(--primary);

}

.flex-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 15rem;
    width: 90%;

}
.name {
    display: flex;
}
.inp {
    font-size: 1rem;
    border: none;
    border-bottom: 0.5px solid var(--secondary);
    background-color: inherit;
    padding: 1rem auto;
    width: 90%;
    font-family: 'Playfair Display', serif;
    outline: none
}

.btn {
    background: #bbd5e6;
    background-image: -webkit-linear-gradient(top, #bbd5e6, #2980b9);
    background-image: -moz-linear-gradient(top, #bbd5e6, #2980b9);
    background-image: -ms-linear-gradient(top, #bbd5e6, #2980b9);
    background-image: -o-linear-gradient(top, #bbd5e6, #2980b9);
    background-image: linear-gradient(tobottom,#bbd5e6, #2980b9);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 17px;
    padding: 5px;
    text-decoration: none;
    border: none;
    align-self: stretch;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(tobottom,#3cb0fd, #3498db);
    text-decoration: none;
}

.footer {
    font-size: .8rem;
    padding: 1rem;
}

/* Responsive */

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {}